Adafruit-Blinka==8.49.0
adafruit-circuitpython-bme680==3.7.9
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
anyio==3.7.1
RPi.GPIO==0.7.1
Flask-cors==5.0.0